[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "*"
fastapi = "*"
uvicorn = "*"
yfinance = "*"
sqlalchemy = "*"
pydantic = "*"

[requires]
python_version = "3.8"
